*{
  margin: 0;
}
header{
  background-color: blue;
}
main{
  background-color: red;
  margin: 0ch;
}
.uno{
  background-color: yellow;
}
footer{
  background-color: green;
}
main{
  max-width: 700px;
  margin: 0 auto;
}

@media (min-width: 500px){
  main{
    display: flex;
  }
  
}